@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url(../assets/robotoFont.ttf);
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-C_1: #262626;
  --color-C_3: #989898;
  --color-H_1: #24292E;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  @apply font-roboto;
}

.layout {
  @apply flex flex-col items-center justify-center pt-10 sm:flex-row sm:px-6 gap-6 lg:max-w-[1154px] lg:mx-auto;
}

.user-card {
    @apply flex flex-col items-center justify-center w-[217px] h-[245px] sm:h-[334px] lg:w-[251px] lg:h-auto
}

.user-card__avatar {
    @apply size-[104px] rounded-full mb-4 lg:size-[150px] lg:mb-6;
}

.user-card__status-emoji {
   @apply bg-white size-10 rounded-full absolute bottom-[4px] right-[8px] flex justify-center items-center pt-[2px] max-lg:size-[28px];
}

.user-card__name {
    @apply text-xl text-center font-bold text-C_1 mb-1 lg:text-2xl;
}

.user-card__bio {
    @apply text-sm text-center font-normal text-C_3 mb-6 sm:mb-11 lg:text-base lg:mb-8;
}

.header {
  @apply w-full bg-H_1 h-18 flex flex-col justify-center items-start max-sm:hidden px-6
}

.header__container {
  @apply max-w-[1125px] w-full mx-auto flex flex-row items-center justify-start gap-[22px]
}

.header__logo {
  @apply w-[124px] h-[30px]
}

.header__divider {
  @apply text-2xl text-white
}

.header__text {
  @apply font-light text-base text-white
}
