@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url(../assets/robotoFont.ttf);
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --breakpoint-xs: 20rem;
  --color-C_1: #262626;
  --color-C_2: #f8f8f8;
  --color-C_3: #989898;
  --color-C_4: #f4f4f4;
  --color-C_5: #DBDBDB;
  --color-H_1: #24292e;
  --color-L_1: #0587ff;
  --color-R_1: #FD8C73;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  @apply font-roboto;
}

.layout {
  @apply flex flex-col items-center justify-center pt-10 sm:flex-row sm:px-6 gap-10 lg:max-w-[1154px] lg:mx-auto sm:justify-start sm:items-start min-h-full;
}

.user-card {
  @apply flex flex-col items-center justify-center w-[217px] h-auto lg:w-[251px];
}

.user-card__avatar {
  @apply size-[104px] rounded-full mb-4 lg:size-[150px] lg:mb-6;
}

.user-card__status-emoji {
  @apply bg-white size-10 rounded-full absolute bottom-[4px] right-[8px] flex justify-center items-center pt-[2px] max-lg:size-[28px];
}

.user-card__name {
  @apply text-xl text-center font-bold text-C_1 mb-1 lg:text-2xl;
}

.user-card__bio {
  @apply text-sm text-center font-normal text-C_3 mb-6 sm:mb-11 lg:text-base lg:mb-8;
}

.header {
  @apply w-full bg-H_1 h-18 flex flex-col justify-center items-start max-sm:hidden px-6;
}

.header__container {
  @apply max-w-[1125px] w-full mx-auto flex flex-row items-center justify-start gap-[22px];
}

.header__logo {
  @apply w-[124px] h-[30px];
}

.header__divider {
  @apply text-2xl text-white;
}

.header__text {
  @apply font-light text-base text-white;
}

.info-drawer--mobile-screen {
  @apply flex flex-col items-center justify-start w-full px-6 whitespace-nowrap sm:hidden min-w-[280px];
}

.info-drawer--medium-screen {
  @apply flex flex-col items-start justify-start w-full whitespace-nowrap max-sm:hidden;
}

.info-drawer__button {
  @apply flex flex-col items-center justify-start pb-2;
}

.info-drawer__button-title {
  @apply text-L_1 text-sm cursor-pointer;
}

.info-drawer__link-container {
  @apply flex flex-col items-start justify-start max-sm:bg-C_2 rounded-2xl gap-4 py-4 px-4 w-[86vw] whitespace-nowrap sm:whitespace-normal sm:w-full sm:p-0 min-w-[280px];
}

.info-drawer__link {
  @apply flex flex-row items-center justify-start gap-2;
}

.info-drawer__link-text {
  @apply text-L_1 text-sm cursor-pointer whitespace-nowrap;
}

.info-drawer__link-icon {
  @apply size-4;
}

.repo-tabs {
  @apply w-full h-[100%] flex flex-col items-center px-6 max-xs:px-2
}

.repo-tabs__header {
  @apply flex flex-row w-full items-start justify-start gap-[56px] self-start max-sm:gap-[6%] max-sm:justify-between max-sm:max-w-[380px] max-md:gap-[4%]
}

.repo-tabs__button {
  @apply flex flex-row w-full justify-evenly max-w-[185px] border-b-2 border-transparent py-4 pl-2 max-sm:w-auto
}

.repo-tabs__button--is-active {
  @apply flex flex-row w-full justify-evenly max-w-[185px] border-b-2 border-R_1 py-4 pl-2 max-sm:w-auto
}

.repo-tabs__button-text {
  @apply text-base pl-2 pr-4 max-sm:pl-1 max-sm:pr-2
}

.repo-tabs__button-icon {
  @apply size-6
}

.repo-tabs__button-counter {
  @apply w-10 h-6 rounded-2xl bg-C_2 text-C_3 border-C_5 border text-sm flex items-center justify-center
}

.repo-card {
  @apply flex flex-col gap-[9px] w-full items-start justify-start py-8 border-b border-b-C_4
}

.repo-card__header{
  @apply flex flex-row gap-[9px] items-center
}

.repo-card__repo-owner{
  @apply font-light text-lg capitalize
}

.repo-card__divider{
 @apply text-xl
}

.repo-card__repo-name{
  @apply font-medium text-lg text-L_1 capitalize
}

.repo-card__description{
  @apply text-sm text-C_3 min-h-[15px]
}

.repo-card__footer{
  @apply flex flex-row gap-11 items-center
}

.repo-card__stats-container{
  @apply flex flex-row gap-[9px] items-center
}

.repo-card__stats-icon{
  @apply size-[16px]
}

.repo-card__stats-text{
  @apply text-sm
}

